.header{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 10rem;
    height: 3rem ;
}

.list-menu{
    list-style: none;
    color: white;
    display: flex;
    gap: 2rem;
}

.list-menu li:hover{
    cursor: pointer;
    color: var(--orange);
}