/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #2C3E50; /* Adjusted to dark blue for contrast */
    background-color: #e0f7fa; /* New background color */
}

header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 2rem;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
}

.hero {
    height: 100vh;
    background: url('background.jpeg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(44, 62, 80, 0.7);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
}

.logo-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.logo-heading .logo {
    height: 60px; /* Logo height */
    width: 60px; /* Logo width to make it circular */
    border-radius: 50%; /* Circular shape */
    margin-right: 1rem;
}

.hero h1 {
    font-family: 'Playfair Display', serif; /* Change to desired font */
    font-size: 50px; /* Adjusted font size */
    font-weight: 700;
    color: #2C3E50;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #2C3E50;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.cta-button {
    background-color: #18BC9C;
    color: #FFFFFF;
    padding: 1rem 2rem;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.cta-button:hover {
    background-color: #F39C12;
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .cta-button {
        padding: 0.8rem 1.5rem;
    }
}
