body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

.hero {
    background-image: url("/ai-generated-8685104_1920.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-content {
    z-index: 1;
}

.hero h1 {
    font-size: 4rem;
    margin: 0;
}

.hero p {
    font-size: 1.5rem;
    margin: 20px 0;
}

.hero-button {
    background-color: #f04c4c;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s;
    border: none; 
    cursor: pointer;
    outline: none; 
}

.hero-button:hover {
    background-color: #d94444;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 3rem;
    }
    .hero p {
        font-size: 1.2rem;
        margin: 15px 0;
    }
    .hero-button {
        font-size: 1rem;
        padding: 12px 25px;
    }
}
